html {
    box-sizing: border-box;
  }

.container {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.form {
    
    text-align: center;
    font-size: 20px;
}

.stats {
    display: flex;
    justify-content: center;
    text-align: center;
   
}

.stats-item  {
    margin-right: 30px;
}


.gallery__item {
    display: block;
    border-radius: 10px;
    margin: 10px;
    list-style: none;
    width: 640px;

    
}

.btn {
    background-color: blue;
    color: white;
    font-size: 16px;
    border-radius: 6px;

}

.loadMore__btn {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.is-hidden {
    opacity: 0;
}